*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebfdff;
}
.container{
    overflow: hidden;
    width: 90%;
    width: 90px;
    min-height: 90px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 1s ease;
}
.container.active{
    width: 400px;
}

.nav{
    width: 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}
.container.active .nav{
    width: fit-content;
}
.container.active .nav a{
    opacity: 1;
    transform: rotateY(1080deg);
}
.nav a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    opacity: 0;
    transition: all 1s ease;
}
.btn{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: transparent;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btn-bar {
    width: 25px;
    height: 3px;
    background-color: #b4cce9;
    transition: all 0.6s linear;
}
.container.active .top{
    transform: rotate(585deg) translateY(-13.5px);
}
.container.active .bottom{
    transform: rotate(-585deg) translateY(13.5px);
}